<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171831654400-uf75jisr35afq5nuj25vh2dr2983nihi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171831654400-uf75jisr35afq5nuj25vh2dr2983nihi</string>
	<key>API_KEY</key>
	<string>AIzaSyDlPxha96oeh5tTnl9YYRxJlQTDkyK3Slk</string>
	<key>GCM_SENDER_ID</key>
	<string>171831654400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sage.SwiftUi-TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>swiftuitwitterclone-a9593</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitwitterclone-a9593.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171831654400:ios:e9b4a2879f324062f780e5</string>
</dict>
</plist>